[submodule "mushclient"]
	path = submodules/mushclient
	url = https://github.com/nickgammon/mushclient.git
[submodule "aardwolfclientpackage"]
	path = submodules/aardwolfclientpackage
	url = https://github.com/fiendish/aardwolfclientpackage
[submodule "mudlet"]
	path = submodules/mudlet
	url = https://github.com/mudlet/mudlet
[submodule "search-and-destroy"]
	path = plugins/search-and-destroy
	url = https://github.com/AardCrowley/Search-and-Destroy.git
	branch = beta
[submodule "dinv"]
	path = plugins/dinv
	url = https://github.com/rodarvus/dinv.git
[submodule "leveldb"]
	path = plugins/leveldb
	url = https://github.com/rodarvus/leveldb
