[submodule "mushclient"]
	path = mushclient
	url = https://github.com/nickgammon/mushclient.git
[submodule "aardwolfclientpackage"]
	path = aardwolfclientpackage
	url = https://github.com/fiendish/aardwolfclientpackage
[submodule "mudlet"]
	path = mudlet
	url = https://github.com/mudlet/mudlet
[submodule "iterm2"]
	path = iterm2
	url = https://github.com/gnachman/iterm2
[submodule "search-and-destroy"]
	path = search-and-destroy
	url = https://github.com/AardCrowley/Search-and-Destroy.git
	branch = beta
[submodule "dinv"]
	path = dinv
	url = https://github.com/rodarvus/dinv.git
